{% extends 'base.html.twig' %}
{% block body %}
  <div data-sage-user="{{ user|json_encode }}"></div>
  <div data-sage-user-meta-wordpress="{{ userMetaWordpress|json_encode }}"></div>
  <div data-sage-pcattarifs="{{ pCattarifs|json_encode }}"></div>
  <div data-sage-pcatcomptas="{{ pCatComptas|json_encode }}"></div>
  <div data-sage-auto-create-sage-fcomptet="{{ get_option('sage_auto_create_sage_fcomptet') }}"></div>
  <div id="sage_user"></div>
{% endblock %}
