<div data-sage-translation="{{ getTranslations()|json_encode }}"></div>
<div data-sage-api-host-url="{{ get_option('sage_api_host_url') }}"></div>
<div data-sage-authorization="{{ get_option('sage_authorization') }}"></div>
<div data-sage-default-filters="{{ getDefaultFilters()|json_encode }}"></div>
<div data-sage-admin-url="{{ get_admin_url() }}"></div>
<div data-sage-site-url="{{ get_site_url() }}"></div>
<div data-sage-language="{{ get_locale() }}"></div>
<div data-sage-currency="{{ get_woocommerce_currency() }}"></div>
<div data-sage-nonce="{{ 'wp_rest'|wp_create_nonce }}"></div>
