{% extends 'base.html.twig' %}
{% block body %}
  {% include 'sage/list-change-entity.html.twig' %}
  <div data-{{ TOKEN }}-user="{{ user|json_encode }}"></div>
  <div data-{{ TOKEN }}-fComptet="{{ fComptet|json_encode }}"></div>
  <div data-{{ TOKEN }}-user-meta-wordpress="{{ userMetaWordpress|json_encode }}"></div>
  <div data-{{ TOKEN }}-pcattarifs="{{ pCattarifs|json_encode }}"></div>
  <div data-{{ TOKEN }}-pcatcomptas="{{ pCatComptas|json_encode }}"></div>
  <div
    data-{{ TOKEN }}-auto-create-{{ TOKEN }}-fcomptet="{{ get_option(TOKEN~'_auto_create_{{ TOKEN }}_fcomptet') }}"></div>
  <div id="{{ TOKEN }}_user">
    <h2>Sage</h2>
    <div class="skeleton skeleton-box"></div>
  </div>
{% endblock %}
