{% set sort = '1' %}
{% if field.sort is defined and field.sort == false %}
  {% set sort = '0' %}
{% endif %}
{% set fieldOptions = field['options'] %}
{% if sort == '1' %}
  {% set fieldOptions = field['options']|sortInsensitive %}
{% endif %}
<div
  style="display: flex;flex-wrap: wrap;"
>
  <div
    style="
    display: flex;
    flex-direction: column;
">
    <label for="{{ field['id']|esc_attr }}_all">
      {{ 'Toutes les options'|trans }}
    </label>
    <select
      id="{{ field['id']|esc_attr }}_all"
      multiple="multiple"
      style="min-width: 200px;min-height: 200px;"
      data-2-select-target="all"
      data-sort="{{ sort }}"
    >
      {% for k,v in fieldOptions %}
        {% if k not in data %}
          <option value="{{ k|esc_attr }}">{{ v }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  {# separator #}
  <div
    style="
    display: flex;
    flex-direction: column;
">
    <label for="{{ field['id']|esc_attr }}">
      {{ 'Options sélectionnées'|trans }}
    </label>
    <select
      name="{{ optionName|esc_attr }}[]"
      id="{{ field['id']|esc_attr }}"
      multiple="multiple"
      style="min-width: 200px;min-height: 200px;"
      data-2-select-target="selected"
      data-sort="{{ sort }}"
    >
      {% for k,v in field['options'] %}
        {% if k in data %}
          <option value="{{ k|esc_attr }}">{{ v }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

</div>
