<a href="{{ getUrlWithParam('action', {
  'type': 'import_from_sage',
  'data': {
    'arRef': item.arRef
  }
}|json_encode()) }}" data-tippy-content="<div>
  {% if item._sage_postId != null %}
    {{ 'Mettre à jour l\'article'|trans }}
  {% else %}
    {{ 'Importer l\'article'|trans }}
  {% endif %}
</div>">
  <span class="dashicons dashicons-download button" style="padding-right: 22px"></span>
</a>
{% if item._sage_postId != null %}
  <a href="{{ get_admin_url() }}post.php?post={{ item._sage_postId }}&action=edit" data-tippy-content="<div>
      {{ 'Voir l\'article Wordpress'|trans }}
    </div>">
    <span class="dashicons dashicons-visibility button" style="padding-right: 22px"></span>
  </a>
{% endif %}
