{% if item.arType == 0 or item.arType == 1 %}
  <a href="{{ getUrlWithParam('action', {
    'type': 'import_from_sage',
    'data': {
      'arRef': item.arRef
    }
  }|json_encode()) }}" data-tippy-placement="left" data-tippy-content="<div>
  {% if item._sage_postId != null %}
    {{ 'Mettre à jour l\'article'|trans }}
  {% else %}
    {{ 'Importer l\'article'|trans }}
  {% endif %}
</div>">
    <span class="dashicons dashicons-download button" style="padding-right: 22px"></span>
  </a>
{% else %}
  <span class="dashicons dashicons-download button text-error" style="padding-right: 22px" data-tippy-placement="left"
        data-tippy-content="<div class='text-error'>
      {{ 'Seuls les articles standard ou à gamme peuvent être importés.'|trans }}
    </div>"></span>
{% endif %}

{% if item._sage_postId != null %}
  <a href="{{ get_admin_url() }}post.php?post={{ item._sage_postId }}&action=edit" data-tippy-placement="left"
     data-tippy-content="<div>
      {{ 'Voir l\'article Wordpress'|trans }}
    </div>">
    <span class="dashicons dashicons-visibility button" style="padding-right: 22px"></span>
  </a>
{% endif %}
