<div class="tooltip">
    <a href="{{ getUrlWithParam('action', {
        'type': 'import_from_sage',
        'data': {
            'arRef': item.arRef
        }
    }|json_encode()) }}">
        <span class="dashicons dashicons-download button" style="padding-right: 22px"></span>
    </a>
    <div class="tooltiptext" style="right: 0">
        {% if item._sage_postId != null %}
            {{ 'Mettre à jour l\'article'|trans }}
        {% else %}
            {{ 'Importer l\'article'|trans }}
        {% endif %}
    </div>
</div>
{% if item._sage_postId != null %}
    <div class="tooltip">
        <a href="/wp-admin/post.php?post={{ item._sage_postId }}&action=edit">
            <span class="dashicons dashicons-visibility button" style="padding-right: 22px"></span>
        </a>
        <div class="tooltiptext" style="right: 0">
            {{ 'Voir l\'article Wordpress'|trans }}
        </div>
    </div>
{% endif %}
