{% set errors = canImportFArticle(item) %}
{% if errors is empty %}
  <a href="{{ getUrlWithParam('action', {
    'type': 'import_from_'~TOKEN,
    'data': {
      'arRef': item.arRef
    }
  }|json_encode()) }}" data-tippy-placement="left" data-tippy-content="<div>
  {% if item["_"~TOKEN~"_postId"] != null %}
    {{ 'Mettre à jour l\'article'|trans }}
  {% else %}
    {{ 'Importer l\'article'|trans }}
  {% endif %}
</div>">
    <span class="dashicons dashicons-download button" style="padding-right: 22px"></span>
  </a>
{% else %}
  {% include 'common/errors_tippy.html.twig' %}
{% endif %}

{% if item["_"~TOKEN~"_postId"] != null %}
  <a href="{{ get_admin_url() }}post.php?post={{ item["_"~TOKEN~"_postId"] }}&action=edit"
     data-tippy-placement="left"
     data-tippy-content="<div>
      {{ 'Voir l\'article Wordpress'|trans }}
    </div>">
    <span class="dashicons dashicons-visibility button" style="padding-right: 22px"></span>
  </a>
{% endif %}
