{% extends 'base.html.twig' %}
{% block body %}
    {% if hasFDocentete == false %}
        <label for="sage-fdocentete-dopiece">
            {{ 'Veuillez renseigner le N°pièce de la commande Sage'|trans }}
        </label>
        <div style="position: relative">
            <input name="sage-fdocentete-dopiece" style="padding-right: 20px" id="sage-fdocentete-dopiece" type="text"
                   size="20"
                   value="">
            <input name="sage-fdocentete-dotype" id="sage-fdocentete-dotype" type="hidden">
            <svg class="svg-spinner hidden" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
            <span class="dashicons dashicons-yes endDashiconsInput hidden" style="color: green"></span>
            <span class="dashicons dashicons-no endDashiconsInput hidden" style="color: red"></span>
        </div>
    {% else %}
        {% if fDoclignes|gettype == 'string' %}
            <div class="notice notice-error">
                <p>
                    {{ fDoclignes }}
                </p>
            </div>
        {% elseif fDoclignes is null %}
            <div class="notice notice-error">
                <p>
                    {{ 'Une erreur s\'est produite lors de la récupération du document de vente' |trans }}
                </p>
            </div>
        {% elseif fDoclignes is empty %}
            <p>
                {{ 'Le document de vente ['~allTranslations['fDocentetes']['doType']['values'][doType]~' n° '~doPiece~'] n\'a pas été trouvé ou est vide.' |trans }}
            </p>
        {% else %}
            <h2>
                <strong>{{ allTranslations['fDocentetes']['doType']['values'][doType] ~': n° '~ doPiece }}</strong>
            </h2>
            {% set doPiecesFDoclignes = getDoPiecesFDoclignes(fDoclignes) %}
            {% if doPiecesFDoclignes|length > 1 %}
                <div class="d-flex">
                    {% for doType, doPieces in doPiecesFDoclignes %}
                        {% if doPieces is not empty %}
                            <div style="{% if loop.first == false %} margin-left: 15px; {% endif %} flex-direction: column;"
                                 class="d-flex">
                            <span class="d-block">
                <strong>{{ allTranslations['fDocentetes']['doType']['values'][doType] }}</strong>
                            </span>
                                <div style="flex-direction: column; justify-content: center; flex: 1" class="d-flex">
                                    {% for doPiece in doPieces %}
                                        <span class="d-block">
                            {{ doPiece }}
                            </span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <table>
                {% for fDocligne in fDoclignes %}
                    <tr>
                        <td>{{ fDocligne.arRef }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
