<tr>
  <td id="cb" class="manage-column column-cb check-column">
    <label class="label-covers-full-cell" for="cb-select-all-{{ name }}">
      <span class="screen-reader-text">{{ 'Select All.'|trans }}</span>
    </label>
    <input id="cb-select-all-{{ name }}" type="checkbox">
  </td>
  {% for field in fields %}
    {% if hideField != field['name'] %}
      <th scope="col" id="{{ field['name'] }}" class="manage-column">{{ ('field_' ~ field['name'])|trans }}</th>
    {% endif %}
  {% endfor %}
</tr>
