{% set sortData = getSortData(queryParams) %}

{% set sortValue = sortData.sortValue %}
{% set sortField = sortData.sortField %}
{% set otherSort = sortData.otherSort %}
<tr>
    <td id="cb" class="manage-column column-cb check-column">
        <label class="label-covers-full-cell" for="cb-select-all-{{ name }}">
            <span class="screen-reader-text">{{ 'Select All.'|trans }}</span>
        </label>
        <input id="cb-select-all-{{ name }}" type="checkbox">
    </td>
    {% for field in fields %}
        {% if field['name']|replace({'metaData': ""}) not in hideFields %}
            <th scope="col" id="{{ field['name'] }}"
                class="manage-column column-{{ field['name'] }} sortable {% if sortField == field['name'] %} sorted {% endif %} {{ sortValue }}"
                abbr="{{ field['name'] }}"
            >
                <div style="display: flex;align-items: center;">
                    {% set transField = allTranslations[field['transDomain']][field['name']] %}
                    {% set transFieldHasValues = transField|gettype != 'string' %}
                    {% if transField|gettype != 'string' %}
                        {% set transFieldLabel = transField['label'] %}
                    {% else %}
                        {% set transFieldLabel = transField %}
                    {% endif %}
                    {% set isMetaDataField = field.name starts with 'metaData' %}
                    {% if isMetaDataField == false %}
                    {% if sortField == field['name'] %}
                    <a href="{{ getUrlWithParam('sort', '{"'~field['name']~'":"'~otherSort~'"}') }}">
                        {% else %}
                        <a href="{{ getUrlWithParam('sort', '{"'~field['name']~'":"asc"}') }}">
                            {% endif %}
                            {% endif %}
                            <span>{{ transFieldLabel }}</span>
                            {% if isMetaDataField == false %}
                                <span class="sorting-indicators">
                                <span class="sorting-indicator asc" aria-hidden="true"></span>
                                <span class="sorting-indicator desc" aria-hidden="true"></span>
                            </span>
                                <span class="screen-reader-text">{{ ('Sort ' ~ sortValue)|trans }}.</span>
                            {% endif %}
                            {% if isMetaDataField == false %}
                        </a>
                        {% endif %}

                        {% if transField == null %}
                            {{ 'Must create translation for field ' ~ field['name']|trans }}
                        {% endif %}

                        {% if transField|gettype != 'string' %}
                            <div class="tooltip">
                                <span class="dashicons dashicons-info"></span>
                                <div class="tooltiptext">
                                    <ul style="margin: 0">
                                        {% for index, value in transField['values'] %}
                                            <li>{{ index }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                </div>
            </th>
        {% endif %}
    {% endfor %}
    {% if hasActionColumn %}
        <th scope="col" id="actions" class="" abbr="actions">
            <div style="display: flex;align-items: center;">
            </div>
        </th>
    {% endif %}
</tr>
