{# todo https://turbo.hotwired.dev/ #}

{# todo faire translate #}

<table class="wp-list-table widefat fixed striped table-view-list users">
  <thead>
  {% include 'common/wp_list_header_footer.html.twig' with {'name': 'header'} %}
  </thead>
  <tbody id="fComptet-list">
  {% for item in fComptets['data']['fComptets']['items'] %}
    <tr id="fComptet-{{ item.ctNum }}">
      <th scope="row" class="check-column">
        <label class="label-covers-full-cell" for="fComptet_{{ item.ctNum }}">
          <span class="screen-reader-text">{{ 'Select'|trans }}{{ item.ctNum }}</span>
        </label>
        <input type="checkbox" name="fComptets[]" id="fComptet_{{ item.ctNum }}" value="{{ item.ctNum }}">
      </th>
      {% for prop, value in item|sortByFields(fields) %}
        {% if hideField != prop %}
          <td data-colname="{{ prop }}">
            {% if value is iterable %}
              {{ value|bytesToString }}
            {% else %}
              {{ value }}
            {% endif %}
          </td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  {% include 'common/wp_list_header_footer.html.twig' with {'name': 'footer'} %}
  </tfoot>
</table>
