{% set errors = canImportOrderFromSage(item) %}
{% if errors is empty %}
  <a href="{{ getUrlWithParam('action', {
    'type': 'import_from_'~TOKEN,
    'data': {
      'doPiece': item.doPiece,
      'doType': item.doType
    }
  }|json_encode()) }}" data-tippy-placement="left" data-tippy-content="<div>
      {% if item["_"~TOKEN~"_postId"] != null %}
        {{ 'Mettre à jour le document'|trans }}
      {% else %}
        {{ 'Importer le document'|trans }}
      {% endif %}
    </div>">
    <span class="dashicons dashicons-download button" style="padding-right: 22px"></span>
  </a>
{% else %}
  {% include 'common/errors_tippy.html.twig' %}
{% endif %}

{% if item["_"~TOKEN~"_postId"] != null %}
  <a href="{{ get_admin_url() }}admin.php?page=wc-orders&action=edit&id={{ item["_"~TOKEN~"_postId"] }}"
     data-tippy-placement="left" data-tippy-content="<div>
      {{ 'Voir la commande Wordpress'|trans }}
    </div>">
    <span class="dashicons dashicons-visibility button" style="padding-right: 22px"></span>
  </a>
{% endif %}

