{% if item.doDomaine == 0 %}
  <a href="{{ getUrlWithParam('action', {
    'type': 'import_from_sage',
    'data': {
      'doPiece': item.doPiece,
      'doType': item.doType
    }
  }|json_encode()) }}" data-tippy-content="<div>
      {% if item._sage_postId != null %}
        {{ 'Mettre à jour le document'|trans }}
      {% else %}
        {{ 'Importer le document'|trans }}
      {% endif %}
    </div>">
    <span class="dashicons dashicons-download button" style="padding-right: 22px"></span>
  </a>
  {% if item._sage_postId != null %}
    <a href="{{ get_admin_url() }}admin.php?page=wc-orders&action=edit&id={{ item._sage_postId }}" data-tippy-content="<div>
        {{ 'Voir la commande Wordpress'|trans }}
      </div>">
      <span class="dashicons dashicons-visibility button" style="padding-right: 22px"></span>
    </a>
  {% endif %}
{% else %}
  <span class="dashicons dashicons-download button text-error" style="padding-right: 22px" data-tippy-content="<div class='text-error'>
      {{ 'Seuls les documents de ventes peuvent être importés.'|trans }}
    </div>"></span>
{% endif %}
