{% if responseError is not null %}
  {{ responseError }}
{% endif %}
{% if hasChanges %}
  <div class="notice notice-info is-dismissible">
    {% for action in ['removed', 'added', 'modified'] %}
      {% if metaChanges[action] is iterable and metaChanges[action] is not empty %}
        <ul>
          {% for key, value in metaChanges[action] %}
            <li>
              <code>{{ key }}</code>:
              {% if action == 'modified' %}
                {{ 'changé en ' | trans }}
              {% elseif action == 'added' %}
                {{ 'ajouté avec la valeur ' | trans }}
              {% elseif action == 'removed' %}
                {{ 'supprimé' | trans }} ({{ 'la valeur précédente était ' | trans }}
              {% endif %}
              <span class="json-inline">{{ value }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
{% if updateApi is not empty %}
  <div class="notice notice-warning is-dismissible">
    <p>{{ 'Les modifications apportées à ce produit n’ont pas encore été synchronisées avec Sage. Elles seront appliquées automatiquement dès que possible.'|trans }}</p>
    <p>{{ 'Date des modifications'|trans }} : {{ updateApi }}</p>
  </div>
{% endif %}
<div data-sage-pcattarifs="{{ pCattarifs|json_encode }}"></div>
<div data-sage-pcatcomptas="{{ pCatComptas|json_encode }}"></div>
<div data-sage-fpays="{{ fPays|json_encode }}"></div>
<div data-sage-ffamilles="{{ fFamilles|json_encode }}"></div>
<div data-sage-punites="{{ pUnites|json_encode }}"></div>
<div data-sage-product="{{ productMeta|json_encode }}"></div>
<div data-sage-fcatalogues="{{ fCatalogues|json_encode }}"></div>
<div data-sage-fglossaires="{{ fGlossaires|json_encode }}"></div>
<div data-sage-cbsyslibres="{{ cbSysLibres|json_encode }}"></div>
<div id="{{ panelId }}" class="panel hidden">
  <div class="skeleton skeleton-box"></div>
</div>

